#otherside-network-banner {
  box-sizing: border-box;
  width: 100%;
  line-height: 28px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  background-color: #222;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 3px;
  margin-right: 10px;
  border-top: solid #cc0000 2px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  #otherside-network-banner {
    flex-direction: row;
  }
}
#otherside-network-banner a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 400px) {
  #otherside-network-banner .otherside-network-toggle {
    display: none;
  }
}
#otherside-network-banner.otherside-network-closed .otherside-network-banner-dropdown {
  display: none;
}
@media screen and (min-width: 400px) {
  #otherside-network-banner.otherside-network-closed .otherside-network-banner-dropdown {
    display: initial;
  }
}
#otherside-network-banner .otherside-network-banner-dropdown,
#otherside-network-banner .otherside-network-banner-category {
  line-height: 1em;
}
#otherside-network-banner .otherside-network-banner-category {
  padding-left: 1rem;
}
