#otherside-network-banner {
    box-sizing: border-box;
    width: 100%;
    line-height: 28px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #222;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 3px;
    margin-right: 10px;
    border-top: solid rgb(204, 0, 0) 2px;
    a {
        text-decoration: none;
        color: inherit;
    }


    &.otherside-network-closed .otherside-network-banner-dropdown {
        display: none;
        @media screen and (min-width: 400px) {
            display: initial;
        }
    }

    .otherside-network-banner-category {
        display: none;
    }
}
